<body>
    <h1>Index</h1>

    <h4>Welcome to our Fitness and Nutrition App!</h4>
    <h6>Links:</h6>

    <a href="/member">Members</a>
    <a href="/nutrients">Nutrients</a>
    <a href="/exercise">Exercises</a>
    <a href="/fitness">Fitness</a>
    <a href="/fit-to-exc">FitnesstoExercise</a>
</body>